body {
    margin: 0;
    background-color: #202020;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

p {
    color: white;
    text-align: center;
    font-size: 10vmin;
}